In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_excel('assignment1_data.xlsx')

In [5]:
data.head()

,num_viewers,title,running_time,netizen_ratings,num_reviews,num_article,released_year,released_month,country_others,country_USA,...,genre_SF,genre_Horror,genre_Drama,genre_Romance,genre_Thriller,genre_Ani,genre_Action,genre_Adventure,genre_Comedy,genre_others
0,94993,소년은 울지 않는다,98,5.62,266,352,2008,11,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1240953,꿀벌대소동,88,8.09,1291,0,2008,1,0,1,...,0,0,0,0,0,0,0,0,0,1
2,431376,마법에 걸린 사랑,106,8.99,3105,17,2008,1,0,1,...,0,0,0,1,0,0,0,0,0,0
3,590409,뜨거운 것이 좋아,114,6.84,3198,997,2008,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,422363,기다리다 미쳐,108,7.37,1547,225,2008,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [6]:
data_np = data.values

In [43]:
y = data_np[:,0]
X = data_np[:,2:]

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [45]:
X_train.shape

(984, 24)

In [46]:
y_train.shape

(984,)

In [47]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.7559236528357657

In [48]:
model1 = LinearRegression(fit_intercept = False)
model1.fit(X_train, y_train)

LinearRegression(fit_intercept=False)

In [49]:
# Feature Scaling / Standardization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [50]:
X_train_std = scaler.fit_transform(X_train) # 독립변수만 scaling
X_test_std = scaler.transform(X_test) # 독립변수만 scaling

In [51]:
model_std = LinearRegression()

In [52]:
model_std.fit(X_train_std, y_train)

LinearRegression()

In [53]:
model_std.score(X_test_std, y_test)

0.7551792440639353

In [54]:
# fit_intercept = False

model_std1 = LinearRegression(fit_intercept = False)
model_std1.fit(X_train_std, y_train)
model_std1.score(X_test_std, y_test)

0.4532698312899228

In [55]:
# Feature Scaling 2 / min-max scaling

from sklearn.preprocessing import MinMaxScaler
scaler_minmax = MinMaxScaler()

In [56]:
X_train_minmax = scaler_minmax.fit_transform(X_train)
X_test_minmax = scaler_minmax.transform(X_test)

In [57]:
model_minmax = LinearRegression()
model_minmax.fit(X_train_minmax, y_train)

LinearRegression()

In [58]:
model_minmax.score(X_test_minmax, y_test)

0.7559236528357638

In [59]:
# fit_intercept = False

model_minmax1 = LinearRegression(fit_intercept = False)
model_minmax1.fit(X_train_minmax, y_train)
model_minmax1.score(X_test_minmax, y_test)

0.755923652835764

In [60]:
# Cross-validation

from sklearn.model_selection import cross_val_score

In [61]:
scores = cross_val_score(model, X_train, y_train, cv=5)
scores

array([0.69773449, 0.45224185, 0.48562867, 0.82816987, 0.83327253])

In [62]:
scores.mean()

0.6594094818540712

In [63]:
scores1 = cross_val_score(model1, X_train, y_train, cv=5)
scores1

array([0.69773449, 0.45224185, 0.48562867, 0.82816987, 0.83327253])

In [64]:
scores1.mean()

0.6594094818540654

In [65]:
scores_std = cross_val_score(model_std, X_train_std, y_train, cv=5)
scores_std

array([0.69753361, 0.4565146 , 0.48570757, 0.82316017, 0.83354456])

In [66]:
scores_std.mean()

0.6592920982785617

In [67]:
scores_std1 = cross_val_score(model_std1, X_train_std, y_train, cv=5)
scores_std1

array([ 0.26759029, -0.04352247,  0.09950204,  0.47775445,  0.52829519])

In [68]:
scores_std1.mean()

0.26592389947067285

In [69]:
scores_minmax = cross_val_score(model_minmax, X_train_minmax, y_train, cv=5)
scores_minmax

array([0.69773449, 0.45224185, 0.48562867, 0.82816987, 0.83327253])

In [70]:
scores_minmax.mean()

0.6594094818540626

In [71]:
scores_minmax1 = cross_val_score(model_minmax1, X_train_minmax, y_train, cv=5)
scores_minmax1

array([0.69773449, 0.45224185, 0.48562867, 0.82816987, 0.83327253])

In [72]:
scores_minmax1.mean()

0.6594094818540628

In [98]:
model_minmax.intercept_

-960829.6187571638